body{
  background-color: #d4e3fc;
}
li{
  list-style-type: none;
  line-height: 35px;
}
@media only screen and (min-width: 992px) {
  .profileDivWarraper{
    margin: auto;
    margin-top: 100px;
    width: 1000px;

  }
  .profileDiv{
    margin: auto;
    margin-top: 50px;
    width: 1000px;
    height: 600px;
    background-color: white;
    box-shadow: 0.5px 0.5px 8px 1px;
  }
  .profileSideDiv{
    float: left;
    width: 250px;
    height: 580px;

    border-right: 1px solid black;
  }

  .PersonalInfoHead{
    font-size: 26px;
    text-align: center;
  }
  .proSideDivBtn{
    position: relative;
    width: 200px;
    left: 25px;
  }


  .personalInfoContentDiv{
    width: 750px;
    height: 580px;
    float:right;
  }
  .editeProfileDiv{

    width: 750px;
    height: 580px;
    float:right;
  }
  .myShopDiv{
    background-color: green;
    width: 750px;
    height: 580px;
    float:right;
  }
  .myReviewDiv{
    background-color: yellow;
    width: 750px;
    height: 580px;
    float:right;
  }
  .fnameFC{
    position: relative;
    left: 50px;
    width: 300px;
  }

}
